/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ---------- */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Digital 7 Mono';
    src: url('../fonts/digital-7_mono-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}
body {
    padding: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    background: #02020a url(../images/background4.jpg) center -0% no-repeat;
    background-size: 100% auto;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 100px 0px 60px 0px;
}

.cta {
    width: 100%;
    max-width: 750px;
    margin: 0px auto;
    padding: 0px 0px;
    background: white;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px rgba(255, 255, 255, .4); */
    text-align: center;
}

.cta .countdown {
    position: relative;
    margin: 0px auto 0px auto;
}

.cta .countdown #digits_background {
    width: 100%;
    text-align: center;
    padding-top: 10px;

    font-size: 95px;
    font-family: "Digital 7 Mono";
    
    color: rgba(255, 255, 255, .1);
    background: #08080f;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cta .countdown #remaining {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 95px;
    font-family: "Digital 7 Mono";
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: white;
}
.cta .label {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
}
.cta .label span {
    display: inline-block;
    margin: 0px 43px;
}
.cta h2 {
    font-size: 35px;
    font-weight: 600;
    background: #08080f;
    color: white;
    padding-bottom: 15px;
}
.cta h3 {
    font-size: 35px;
    font-weight: 600;
}
.cta p {
    margin: 25px 0px;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 0px 50px;
}
.cta button {
    background: #55acee;
    display: inline-block;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    height: 5rem;
    margin: 0 1rem 2px 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}
.cta button:hover {
    background: #459cde;
    margin-top: 2px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}
.cta p.disclosure {
    opacity: .7;
    max-width: 430px;
    width: 100%;
    margin: 25px auto 0px auto;
    font-size: .9em;
    line-height: 1.4em;
    padding: 0px 0px 30px 0px;
}

.content {
    width: 100%;
    max-width: 750px;
    margin: 50px auto;
    padding: 50px 50px 0px 50px;
    background: transparent;
    border-radius: 10px;    
    text-align: center;
    color: rgba(255, 255, 255, .8);
}
.content a {
    color: white;
    font-weight: 600;
}
.content p {
    margin: 25px 0px 45px 0px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em;
}
.content h3 {
    font-size: 40px;
    color: white;
}
.content img {
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

footer {
    color: white;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 0px 0 60px 0;
    line-height: 1.8em;
    color: rgba(255, 255, 255, .8);
}
footer img {
    width: 100%;
    height: auto;
    opacity: .8;
}
footer img:hover {
    opacity: 1;
}
div.sharing {
    text-align: center;
    padding-bottom: 40px;
    font-size: 0px;
}
div.sharing a {
    display: inline-block;
    width: 120px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0px 5px;
    border-radius: 5px;
}
div.sharing a.share {
    background: #3b579d url(../images/share.png) 5px 5px no-repeat;
    background-size: 27px auto;
    padding-left: 40px;
}
div.sharing a.tweet {
    background: #1DA1F2 url(../images/tweet.png) 10px 9px no-repeat;
    background-size: 27px auto;
    padding-left: 45px;
}
ul.sharing {
    text-align: center;
    padding-bottom: 4rem;
    padding-left: 0px;
    z-index: 9001;
}

ul.sharing li {
    display: inline-block;
    margin: 10px;
}

ul.sharing button {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 0px;
    font-size: 0px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

ul.sharing button.facebook {
    background: url(../images/facebook.png);
    background-size: 64px 64px;
}
ul.sharing button.google {
    background: url(../images/google.png);
    background-size: 64px 64px;
}
ul.sharing button.twitter {
    background: url(../images/twitter.png);
    background-size: 64px 64px;
}

@media screen and (min-width: 800px) {
    ul.sharing {
        position: fixed;
        left: 0px;
        top: 50%;
        margin-top: -100px;
    }

    ul.sharing li {
        margin: 15px 15px 15px 0px;
        display: block;
    }
}

.video {
    border-radius: 1rem;
    height: 0;
    margin-bottom: 45px;
    overflow: hidden;
    padding-bottom: 66.66%;
    padding-top: 3rem;
    position: relative;
}

.video iframe, .video object, .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
